@import '../../../styles/variables';

.VisitForm {
  color: $cream;
  text-shadow: 1px 1px 1px $darkbrown;
  .formContainer {
    background-color: $darkbrown;
    opacity: .3;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: 0.3;
    width: 100vw;
    height: 150vh;
  }
  input {
    border-radius: 0!important;
    border: none;
    box-shadow: 5px 5px 5px $darkbrown;
    &:focus {
      box-shadow: 0 0 15px $darkbrown;
      border: 1px solid $darkbrown;
    }
  }
  .btn {
    background-color: $cream;
    color: $darkbrown;
    margin-bottom: 25px;
    &:hover {
      background-color: $darkbrown;
      color: $cream;
      box-shadow: 5px 5px 5px black;
    }
  }
}