@import '../../../styles/variables';

.navbar {
  color: $darkbrown;
  
  .nav-link {
    color: $darkbrown;
    border-radius: 2rem;
    margin: 1rem;
    &:hover {
      background-color: rgba(245, 222, 179, 0.603);
      transition: all .5s ease;
    }
  }
  .logoutButton {
    border-radius: 2rem;
  }
}