@import '../../../styles/variables';

.navbar {
  color: $darkbrown;
  .navbar-brand img {
    width: auto;
    height: 75px;
  }
  
  .nav-link {
    color: $darkbrown;
    border-radius: 2rem;
    margin: 1rem;
    &:hover {
      background-color: $cream;
      transition: all .5s ease;
    }
  }
  .logoutButton {
    border-radius: 2rem;
    border: 1px solid $cream;
    color: $cream;
    &:hover {
      background-color: $cream;
    }
  }
}